asgiref==3.5.2
blas==1.0
bottleneck==1.3.5
brotli-python==1.0.9
bzip2==1.0.8
ca-certificates==2023.7.22
certifi==2023.7.22
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.2.0
cryptography==41.0.3
cssselect==1.2.0
django==4.1
et_xmlfile==1.1.0
idna==3.4
intel-openmp==2023.1.0
libffi==3.4.4
lxml==4.9.3
mkl==2023.1.0
mkl-service==2.4.0
mkl_fft==1.3.6
mkl_random==1.2.2
numexpr==2.8.4
numpy==1.25.2
numpy-base==1.25.2
openjdk==17.0.3
openpyxl==3.0.10
openssl==3.0.10
packaging==23.1
pandas==1.5.3
pdfminer-six==20221105
pdfquery==0.4.3
pip==23.2.1
pycparser==2.21
pypdf2==3.0.1
pyquery==2.0.0
pysocks==1.7.1
python==3.11.4
python-dateutil==2.8.2
python-tzdata==2023.3
python_abi==3.11
pytz==2022.7
requests==2.31.0
roman==4.1
setuptools==68.0.0
setuptools-scm==7.1.0
setuptools_scm==7.1.0
six==1.16.0
sqlite==3.41.2
sqlparse==0.4.4
tabula-py==2.6.0
tbb==2021.8.0
tk==8.6.12
tomli==2.0.1
typing-extensions==4.7.1
typing_extensions==4.7.1
tzdata==2023c
urllib3==2.0.4
vc==14.2
vs2015_runtime==14.27.29016
wheel==0.38.4
win_inet_pton==1.1.0
xz==5.4.2
zlib==1.2.13
